.nav{
width:100%;
float:left;
color:white;
background-color:black;
text-decoration:none;
}

.navItemsWrapper{
margin-left:3vw;
width:100%;
float:left;
}

.navItems{
font-weight:900;
font-size:3vh;
display:inline-block;
margin-right:3vw;
cursor:pointer;
padding-top:2vh;
padding-bottom:2vh;
}

@media screen and (max-width: 768px) {

.navItemsWrapper{
margin-left:0;
width:100%;
float:left;
}

.navItems{
text-align:center;
width:100%;
font-weight:900;
font-size:6vh;
display:block;
cursor:pointer;
padding-top:4vh;
padding-bottom:4vh;
border-bottom:3px solid white;
}


}