.Footer{
width:100%;
float:left;
color:white;
background-color:black;
}

.footerWrapper{
margin-left:3vw;	
}

.footerSiteMap{
float:left;
width:32%;
cursor:pointer;
}

.siteMapText{
font-size:2.5vh;
cursor:pointer;
text-decoration:none;
}

.centerFooterSection{
text-align:center;
float:left;
width:32%;
}

.footerSocialMedia{
float:left;
width:32%;
padding-bottom:3vh;	
}

.footerSocMedicons{
margin-top:3vh;
float:right;
width:15%;
margin-right:2vw;
}

.footerDHDPwrapper{
border-top:2px solid gray;
float:left;
width:100%;
text-align:center;
background-color:black;	
}

.footerDHDPlogo{
width:8%;
margin:5vh auto;
display:block;
margin-bottom:6vh;
}

.footerJumboWrapper{
width:100%;
float:left;
}

.footerJumboImage{
width:100%;
}


@media screen and (max-width: 768px) {

.footerWrapper{
margin-left:0;	
}

.footerSiteMap{
text-align:center;
float:left;
width:100%;
border-bottom:1px solid white;
cursor:pointer;
}

.siteMapText{
font-size:3vh;
cursor:pointer;
text-decoration:none;
}

.centerFooterSection{
text-align:center;
float:left;
width:100%;
border-bottom:1px solid white;
}

.footerSocialMedia{
float:left;
width:100%;	
display: flex;
justify-content: center;
}

.footerSocMedicons{
margin-top:5vh;
margin-bottom:5vh;
width:82px;
height:82px;
}

.footerDHDPlogo{
width:20%;
margin:5vh auto;
display:block;
margin-bottom:6vh;
}

}