body{
margin:0;
overflow-x:hidden;
width:100%;
font-family:Tahoma;
background-color:#faf7ec;
}

.scaffold{
border:1px solid black;
}

.hidden{
display:none;
}

.lineBreak{
width:100%;
height:3px;
}

.noDecor{
text-decoration:none;
}

.content{
background-color:#faf7ec;
color:black;
margin-left:3vw;
margin-top:2vh;
float:left;
padding-right:2vw;
}

.slider{
float:left;	
}

.titleA{
font-size:4vh;	
font-weight:900;
}

.titleB{
font-size:3.5vh;	
font-weight:900;
}

.textA{
font-size:3vh;		
}

#jumboContainer{
width:100%;
float:left;
}

.jumboImage{
width:100%;
}

.shoppingIcons{
width:40%;
}

@media screen and (max-width: 768px) {

.titleA{
font-size:5vh;	
font-weight:900;
}

.titleB{
font-size:4.5vh;	
font-weight:900;
}

.textA{
font-size:4.3vh;		
}

}